genomicSurfing.code-workspace
1D_scenarios/clean_up_scripts/*.*
1D_scenarios/informative_files/*.*
1D_scenarios/deploy_steps_data_analysis.sh
2D_scenarios/.Rhistory
2D_scenarios/UPDATED_deploy_steps_02to04.sh
recMap/1D/00_slurm_gzip_vcf_folders.sh
2D_scenarios/00_slurm_set_up_folder_recMap_sims.sh
2D_scenarios/00_slurm_set_up_folder_2d_sims.sh
2D_scenarios/00_slurm_gzip_vcf_folders.sh
2D_scenarios/gzip_vcf_folders.sh
recMap/1D/deploy_steps_data_analysis_cluster_m4_m6_m7.sh
2D_scenarios/*
recMap/*
robustness/*
Figures/MBE_*
Data_examples/count_size_g25092_p24_r183.txt
Data_examples/count_size_g25092_p24_r183.txt.gz
Data_examples/genomic_profile_active_demes_f20_m10_g5_r183_resamp_45inds.txt
Data_examples/genomic_profile_active_demes_f20_m10_g5_r183_resamp_45inds.txt.gz
Data_examples/out_p24_gen_25090_n10.vcf
Data_examples/out_p24_gen_25090_n10.vcf.gz
Data_examples/out_p24_gen_25091_n10.vcf
Data_examples/out_p24_gen_25091_n10.vcf.gz
Data_examples/out_p24_gen_25092_n5.vcf
Data_examples/out_p24_gen_25092_n5.vcf.gz
Data_examples/out_p24_gen_25092_n10.vcf
Data_examples/out_p24_gen_25092_n10.vcf.gz
Data_examples/out_p24_gen_25092_n45.vcf
Data_examples/out_p24_gen_25092_n45.vcf.gz
Data_examples/out_p24_gen_25093_n10.vcf
Data_examples/out_p24_gen_25093_n10.vcf.gz
Data_examples/out_p24_gen_25094_n10.vcf
Data_examples/out_p24_gen_25094_n10.vcf.gz
Data_examples/*